# Indica que este é o arquivo root (raiz)
root = true

# Aplica a todos os arquivos C#
[*.cs]

# Indentação
indent_style = space
indent_size = 4

# Organize usings
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
dotnet_remove_unnecessary_imports = true